

.card{
    display: grid;
    grid-template-rows: 1fr 2fr 0.4fr;
}

.cardHeader{
    color: var(--text);
    background-color: rgb(143, 143, 143);
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardCollection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
}

.oneCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
}

.twoCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.pollIcon{
    margin-bottom: 20px;
    color: var(--accent)
}

.noCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .cardPoll{
    min-width: 500px;
} */

.pollBarsContiner{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pollBars{
    background-color: rgb(143, 143, 143);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.singlePollStatus{
    margin-bottom: 10px;
}

.percentageContainer{
    display: flex;
    justify-content: space-between;
}

.option{
    cursor: pointer;
}

.option:hover{
    background-color: var(--accent);
}

.optionSelected{
    transition: width 200ms;
    cursor: default;

}

@media screen and (max-width: 850px) {

    .cardCollection{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .pollDisplay{

        min-width: 80vw;
    }

    .cardPoll{
        min-width: 80vw;
    }

    .pollBarsContiner{
        width: 80vw;
    }

    
  }