

.card{
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.4fr;
}

.cardHeader{
    color: var(--text);
    background-color: rgb(143, 143, 143);
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardCollection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    grid-gap: 10px;
    
}

.oneCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
    max-width: 500px;
}

.twoCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 1000px;
}

.pollIcon{
    margin-bottom: 20px;
    color: var(--accent)
}

.noCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardPoll{
    max-width: 1000px;
}

.pollBarsContiner{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pollBars{
    background-color: rgb(143, 143, 143);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.singlePollStatus{
    margin-bottom: 10px;
}

.percentageContainer{
    display: flex;
    justify-content: space-between;
}

.barText{
    cursor: pointer;
}

.barText:hover{
    color: var(--accent);
    cursor: pointer;
}

.option{
    cursor: pointer;
}


.optionSelected{
    transition: width 500ms;
    cursor: default;

}

.selectedBar{
    background-color: var(--accent);
}

.voteButton:hover{
    color: var(--accent);
}

.pollUsername{
    color: var(--text)
}

.pollUsername:hover{
    color: var(--accent);
    text-decoration: underline;
}

.commentWrapper{
    padding-top: 10px;
}

@media screen and (max-width: 850px) {

    .cardCollection{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .twoCards{
        display: flex;
        flex-direction: column;
    }

    .pollDisplay{

        min-width: 80vw;
    }

    .cardPoll{
        
        min-width: 70vw;
    }

    .pollBarsContiner{
        width: 80vw;
    }

    
  }